* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
}

label {
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  line-height: 2;
  position: relative;
  z-index: 1;
}

.container {
  color: grey;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  opacity: 0.9;
  margin: 20px;
  padding: 15px;
  /* border: 1px solid black; */
  position: relative;
  z-index: 1;

}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 10px;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5)
}

.btn {
  border: 0;
  color: white;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  font-size: 20px;
  width: 200px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.button-copy {
  text-align: center;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
}